
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

*{
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.title{
  width: 30%; 
}
.menubar{
  margin-right: 10px;
}